.campaign-show {
  .campaign-title {
    text-align: center;
  }

  .details-box {
    border: 1px grey solid;
    border-radius: 10px;
    height: 100%;
    padding: 25px 25px;
  }

  .image-detail {
    width: 100%;
  }

  .completion-box {
  }

  .jauge {
    margin-bottom: 15px;
  }

  .thumbnail-image {
    width: 50%;
    margin-top: 15px;
  }
  .more-artworks {
    text-align: center;
  }
}
